Options -MultiViews
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(getById)/(.+)$ index.php?method=$1&id=$2 
RewriteRule ^(getByEndpoint)/(.+)$ index.php?method=$1&endpoint=$2 
RewriteRule ^(getByCalls)/(.+)$ index.php?method=$1&calls=$2 
RewriteRule ^(getByFrecuency)/(.+)$ index.php?method=$1&frecuency=$2 
RewriteRule ^(getByOrder)/(.+)$ index.php?method=$1&order=$2 
RewriteRule ^(getByMiss)/(.+)$ index.php?method=$1&miss=$2 
RewriteRule ^(getByConsecutiveMiss)/(.+)$ index.php?method=$1&consecutiveMiss=$2 
RewriteRule ^(getByDateReported)/(.+)$ index.php?method=$1&dateReported=$2
RewriteRule ^updateOrderById index.php 
RewriteRule ^([a-zA-Z0-9]+)$ index.php?method=$1